* {
  box-sizing: border-box;
}

body {
  min-width: 320px;

  font-family: $font-pt-sans;
}

img,
picture {
  display: block;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

svg {
  fill: currentColor;
}
