/* --- ШРИФТЫ --- */
$font-pt-sans: "PT Sans", "Arial", sans-serif;

/* --- ЦВЕТА --- */
$color-light-blue: #81b3d2;
$color-blue: #669ec0;
$color-dark-blue: #5496bd;
$color-border-light-blue: #9ac2db;
$color-border-blue: #77acca;
$color-border-dark-blue: #678fa8;
$color-gray: #766357;
$color-dark-gray: #604e43;
$color-light-brown: #eeeeee;
$color-sublight-brown: #e5e5e5;
$color-brown: #cccccc;
$color-silver: #d6d6d6;
$color-dark-brown: #333333;
$color-white: #ffffff;
$color-black: #000000;
$color-white-03: transparentize($color-white, 0.3);
$color-black-03: transparentize($color-black, 0.3);
$color-gray-03: transparentize($color-gray, 0.3);

/* --- ТОЧКИ ПЕРЕХОДА --- */
$mobile-min: 320px;
$mobile-max: 767px;
$tablet-min: 768px;
$tablet-max: 1199px;
$desktop: 1200px;

/* --- РЕТИНА --- */
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
