.feedback {
  margin: 0 auto;
  max-width: 1200px;
}

.feedback h2 {
  margin: 0 0 22px;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: $color-black;

  @include tablet {
    @include flex;
    align-items: center;
    justify-content: center;

    font-size: 21px;

    &::before,
    &::after {
      content: "";

      flex-shrink: 1;
      display: block;
      height: 1px;
      width: 100%;

      background-color: $color-sublight-brown;
    }

    &::before {
      margin-right: 55px;
    }

    &::after {
      margin-left: 55px;
    }

    & > span {
      flex-shrink: 0;
      max-width: 285px;
    }
  }
}

.feedback__form {
  @include tablet {
    @include flex;
    flex-wrap: wrap;
  }
}

.feedback__intro,
.feedback__label {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-dark-brown;
}

.feedback__intro {
  margin-top: 27px;
  margin-bottom: 0;

  line-height: 24px;
  text-align: center;
}

.feedback__list-ctrls {
  @include list-reset;
}

.feedback__label {
  line-height: 26px;

  &--offseted {
    margin-left: 20px;
    margin-bottom: 6px;
    width: calc(100% - 20px);
  }

  @include desktop {
    &--offseted {
      margin-bottom: 0;
      margin-left: 0;
      width: auto;
    }

    &--offseted span {
      display: none;
    }
  }
}

.feedback__input-container {
  position: relative;

  @include flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 0;
  }

  &--custom {
    margin-bottom: 13px;
    min-height: 56px;
  }

  @include desktop {
    flex-wrap: nowrap;
  }
}

.feedback__btn,
.feedback__btn:hover,
.feedback__btn:focus,
.feedback__btn:active {
  transition: color 0.4s;
}

.feedback__btn {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;

  display: block;
  border: none;
  padding: 0;
  width: 58px;
  height: 58px;

  color: $color-btn-icon;

  background-color: $color-sublight-brown;

  appearance: none;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $color-dark-brown;
  }

  &:focus {
    outline: none;
  }

  &:active {
    color: $color-btn-active;
  }

  & > svg {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;

    transform: translate(-50%, -50%);
  }

  &--phone > svg {
    width: 18px;
    height: 18px;
  }

  &--mail > svg {
    width: 16px;
    height: 12px;
  }
}

.feedback__input-text,
.feedback__custom-input,
.feedback__textarea,
.feedback__textarea::placeholder {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $color-black;

  opacity: 1;
}

.feedback__textarea,
.feedback__textarea:hover,
.feedback__textarea:focus,
.feedback__textarea:active,
.feedback__input-text,
.feedback__input-text:hover,
.feedback__input-text:focus,
.feedback__input-text:active {
  transition: background-color 0.4s;
}

.feedback__input-text {
  flex-grow: 1;
  border: none;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 23px;
  padding-right: 0;
  width: 1px;
  height: 58px;

  background-color: $color-subwhite;

  font-family: $font-pt-sans;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  appearance: none;

  &:hover {
    background-color: $color-sublight-brown;
  }

  &:focus {
    outline: none;
  }

  &:focus,
  &:active {
    background-color: transparent;
    box-shadow: inset 0 0 0 4px $color-sublight-brown;
  }

  &::placeholder {
    color: $color-black;
    opacity: 1;
  }

  &::-ms-input-placeholder {
    color: $color-black;
    opacity: 1;
  }

  &::-ms-clear {
    display: none;
  }

  &--short {
    margin-left: 12px;
  }

  @include desktop {
    flex-grow: 0;
    margin-left: 17px;
    width: 315px;
  }
}

.feedback__part {
  margin: 0;
  border: none;
  border-bottom: 1px solid $color-silver;
  padding: 17px 20px 25px;
  width: 100%;

  &--contact .feedback__input-container {
    margin-bottom: 15px;
  }

  &--contact .feedback__input-container:last-of-type {
    margin-bottom: 0;
  }

  &--places > .feedback__input-container {
    margin-bottom: 24px;
  }

  &--places > .feedback__input-container:last-of-type {
    margin-bottom: 0;
  }

  &:first-of-type {
    padding-top: 37px;
    padding-bottom: 17px;
  }

  &:first-of-type h2::before,
  &:first-of-type h2::after {
    content: none;
  }

  &:last-of-type {
    margin-bottom: 26px;
    border-bottom: none;
  }

  @include tablet {
    border-bottom: none;
    padding-left: 60px;
    padding-right: 60px;

    &:first-of-type {
      padding-top: 68px;
      padding-bottom: 73px;
    }

    &--intro h2 {
      font-size: 30px;
      line-height: 36px;
    }

    &--intro p,
    &--intro h2 {
      margin-left: auto;
      margin-right: auto;
      max-width: 450px;
    }

    &--intro h2 > span {
      max-width: 100%;
    }

    &--mark,
    &--user {
      padding-top: 0;
      padding-bottom: 0;

      width: 50%;
    }

    &--mark {
      position: relative;

      padding-right: 0;
    }

    &--mark::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;

      width: 1px;
      height: 100%;

      background-color: $color-sublight-brown;
    }

    &--mark .feedback__input-container--custom:not(:last-child) {
      margin-bottom: 22px;
    }

    &--mark h2,
    &--user h2 {
      justify-content: flex-start;
      margin-bottom: 58px;
    }

    &--mark h2::before,
    &--mark h2::after,
    &--user h2::before,
    &--user h2::after {
      content: none;
    }

    &--user {
      order: 1;
    }

    &--contact {
      order: 2;
      padding-top: 69px;
      padding-bottom: 36px;
    }

    &--contact .feedback__input-container {
      margin-bottom: 24px;
    }

    &--contact h2 {
      margin-bottom: 25px;
    }

    &--places {
      padding-bottom: 52px;
      order: 3;
    }

    &--places h2 {
      margin-bottom: 41px;
      width: 100%;
    }

    &--places .feedback__list-ctrls {
      @include flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;
      width: 470px;
    }

    &--places .feedback__input-container {
      margin-bottom: 32px;
      width: 210px;
    }

    &--emoution {
      order: 4;
    }

    &--emoution h2 {
      margin-bottom: 58px;
    }

    &:last-of-type {
      margin-bottom: 33px;
    }
  }

  @include only-tablet {
    &--places .feedback__list-ctrls {
      margin-left: auto;
      margin-right: auto;
      width: 470px;
    }

    &--places .feedback__input-container:nth-last-child(2),
    &--places .feedback__input-container:last-child {
      margin-bottom: 0;
    }
  }

  @include desktop {
    padding-left: 120px;
    padding-right: 120px;

    &:first-of-type {
      padding-top: 105px;
      padding-bottom: 58px;
    }

    &--mark {
      padding-right: 60px;
    }

    &--mark h2 {
      justify-content: center;
    }

    &--user {
      padding-left: 74px;
    }

    &--user input {
      flex-grow: 1;
    }

    &--contact {
      padding-top: 67px;
      padding-bottom: 35px;
    }

    &--contact h2 {
      margin-bottom: 75px;
    }

    &--contact .feedback__input-container {
      margin-bottom: 0;
    }

    &--places {
      padding-bottom: 50px;
    }

    &--places .feedback__list-ctrls {
      width: 100%;
    }

    &--places .feedback__input-container:not(:nth-child(n + 5)) {
      margin-bottom: 0;
    }
  }
}

.feedback__custom-input {
  position: relative;

  padding-left: 80px;

  font-size: 18px;
  font-weight: 700;
  text-transform: none;

  cursor: pointer;

  &::before,
  &:hover::before {
    transition: background-color 0.4s;
  }

  &::before {
    content: "";
    position: absolute;
    top: -13px;
    left: 0;
    z-index: 1;

    width: 56px;
    height: 56px;

    background-color: $color-subwhite;
  }

  &:hover::before {
    background-color: $color-sublight-brown;
  }

  &--radio::before {
    border-radius: 50%;
  }

  &--checkbox::before {
    border-radius: 4px;
  }
}

.feedback__hidden-input:disabled + .feedback__custom-input::before,
.feedback__hidden-input:disabled:checked + .feedback__custom-input::before,
.feedback__hidden-input:disabled:hover + .feedback__custom-input::before,
.feedback__hidden-input:disabled:checked:hover + .feedback__custom-input::before {
  background-color: $color-input-disabled;
}

.feedback__hidden-input:disabled + .feedback__custom-input::after,
.feedback__hidden-input:disabled:checked + .feedback__custom-input::after,
.feedback__hidden-input:disabled:hover + .feedback__custom-input::after,
.feedback__hidden-input:disabled:checked:hover + .feedback__custom-input::after {
  opacity: 0.3;
}

.feedback__hidden-input:checked + .feedback__custom-input--radio::after,
.feedback__hidden-input:checked + .feedback__custom-input--checkbox::after {
  content: "";
  position: absolute;
  z-index: 2;
}

.feedback__hidden-input:checked + .feedback__custom-input--radio::after {
  top: 4px;
  left: 17px;

  border-radius: 50%;
  width: 22px;
  height: 22px;

  background-color: $color-dark-brown;
}

.feedback__hidden-input:checked + .feedback__custom-input--checkbox::after {
  top: 7px;
  left: 17px;

  width: 24px;
  height: 16px;

  background: transparent url("../img/check-icon.svg") no-repeat 0 0;
  background-size: 24px 16px;
}

.feedback__hidden-input + .feedback__custom-input::before,
.feedback__hidden-input:focus + .feedback__custom-input--checkbox::before {
  transition: background-color 0.4s, box-shadow 0.4s;
}

.feedback__hidden-input:focus + .feedback__custom-input--checkbox::before {
  background-color: $color-sublight-brown;
}

.feedback__hidden-input:focus + .feedback__custom-input--radio::before {
  background-color: $color-white;
}

.feedback__hidden-input:focus:checked + .feedback__custom-input--radio::before {
  box-shadow: inset 0 0 0 4px $color-sublight-brown;
}

.feedback__textarea {
  border: none;
  padding: 15px 20px;
  width: 100%;
  min-height: 160px;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  background-color: $color-subwhite;

  &:hover {
    background-color: $color-sublight-brown;
  }

  &:focus {
    outline: none;
  }

  &:focus,
  &:active {
    background-color: transparent;
    box-shadow: inset 0 0 0 4px $color-sublight-brown;
  }

  &::-ms-input-placeholder {
    opacity: 1;
  }
}

.feedback__btn-submit,
.feedback__btn-submit:hover,
.feedback__btn-submit:focus,
.feedback__btn-submit:active {
  transition: color 0.4s, background-color 0.4s;
}

.feedback__btn-submit {
  display: block;
  margin: 0 auto 36px;
  border: none;
  padding: 16px 0;
  width: 100%;
  max-width: 400px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: $color-white;

  background-color: $color-light-blue;

  appearance: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $color-blue;
  }

  &:focus {
    outline: none;
  }

  &:active {
    color: $color-white-03;

    background-color: $color-dark-blue;
  }

  @include tablet {
    margin: 0;
    width: 42.18vw;
    max-width: 480px;
  }
}

.feedback__submit-container {
  padding: 0 20px;

  @include tablet {
    @include flex;
    align-items: center;
    justify-content: space-between;
    order: 5;
    margin-bottom: 60px;
    padding-left: 60px;
    padding-right: 60px;
    width: 100%;
  }

  @include desktop {
    margin-bottom: 66px;
    padding-left: 120px;
    padding-right: 120px;
  }
}

.feedback__submit-container p {
  display: none;
  margin: 0 auto;
  max-width: 450px;

  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: $color-dark-brown;

  @include tablet {
    display: block;
    margin: 0;
  }
}

@include desktop {
  .feedback__part-wrapper {
    @include flex;
    align-items: center;
    justify-content: space-between;
  }
}
