.find-hotel {
  padding-top: 27px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 49px;

  text-align: center;
  text-transform: uppercase;

  @include tablet {
    padding-top: 49px;
    padding-bottom: 58px;
  }

  @include desktop {
    padding-bottom: 66px;
  }

  & p {
    margin: 0 auto;
    max-width: 400px;

    font-size: 14px;
    line-height: 24px;
    color: $color-dark-brown;

    @include tablet {
      max-width: 450px;
    }
  }

  & p:first-of-type {
    margin-bottom: 18px;

    @include tablet {
      margin-bottom: 26px;
    }
  }

  & p:nth-of-type(2) {
    margin-bottom: 35px;

    @include tablet {
      margin-bottom: 42px;
    }

    @include desktop {
      margin-bottom: 47px;
    }
  }

  & p > em,
  & a {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
  }

  & p > em {
    font-style: normal;
    color: $color-black;

    @include tablet {
      font-size: 30px;
      line-height: 36px;
    }
  }

  & a,
  & a:hover,
  & a:focus,
  & a:active {
    transition: background-color 0.4s, color 0.4s;
  }

  & a {
    display: block;
    margin: 0 auto;
    padding: 16px 0;
    width: 280px;

    text-decoration: none;
    color: $color-white;

    background-color: $color-light-blue;

    @include tablet {
      width: 458px;
    }
  }

  & a:hover,
  & a:focus {
    background-color: $color-blue;
  }

  & a:active {
    color: $color-white-03;

    background-color: $color-dark-blue;
  }
}
