.logo {
  position: absolute;
  left: 50%;
  z-index: 1;

  display: block;
  width: 102px;
  height: 83px;

  transform: translate(-50%, 0);

  @include only-mobile {
    bottom: -26px;
  }

  & img {
    width: 102px;
    height: 83px;
  }

  @include tablet {
    top: 0;
  }
}
