.popup,
.popup--open {
  transition: left 0.8s ease-in-out;
}

.popup {
  position: fixed;
  top: 50vh;
  left: calc(100% + 15px);
  z-index: 100;

  padding: 36px 0;
  width: 100%;
  max-height: 100vh;

  text-align: center;
  text-transform: uppercase;

  background-color: $color-white;
  box-shadow: 0 7px 15px 0 rgba($color: #000101, $alpha: 0.15);
  transform: translate(0, -50%);
  overflow-y: scroll;
}

.popup--open {
  left: 0;
}

.popup__title,
.popup__text {
  margin: 0 auto;
  max-width: 400px;
}

.popup__title {
  margin-bottom: 30px;

  font-size: 18px;
  line-height: 26px;
  color: $color-black;
}

.popup__text {
  margin-bottom: 25px;

  color: $color-dark-brown;
}

.popup__btn,
.popup__btn:hover,
.popup__btn:focus,
.popup__btn:active {
  transition: color 0.4s, background-color 0.4s;
}

.popup__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  padding: 16px 0;
  width: 180px;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-white;

  background-color: $color-light-blue;
  appearance: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $color-blue;
  }

  &:active {
    color: $color-white-03;
    background-color: $color-dark-blue;
  }
}
